<form [formGroup]="userRegistrationForm">
  <table>
    <tbody>
      <tr>
        <td>Name</td>
        <td><input type="text" formControlName="name" /></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>
          <input type="radio" value="Male" formControlName="gender" />Male
        </td>
        <td>
          <input type="radio" value="Female" formControlName="gender" />Female
        </td>
        <td>
          <input type="radio" value="other" formControlName="gender" />Other
        </td>
      </tr>
      <tr>
        <td>Age</td>
        <td><input type="range" min="18" max="100" formControlName="age" /></td>
      </tr>
      <tr>
        <td>dob</td>
        <td><input type="text" formControlName="dob" /></td>
      </tr>
      <tr>
        <td>email</td>
        <td><input type="text" formControlName="email" /></td>
      </tr>
      <tr>
        <td>password</td>
        <td>
          <input
            type="password"
            placeholder="password"
            formControlName="password"
          />
        </td>
      </tr>
      <tr>
        <td>Cpassword</td>
        <td><input type="password" formControlName="confirmPassword" /></td>
      </tr>
      <tr>
        <td>Address</td>
        <td>
          <textarea
            name=""
            id=""
            cols="10"
            rows="10"
            formControlName="address"
          ></textarea>
        </td>
      </tr>
      <ng-container formGroupName="parents">
        <tr>
          <td>Mother</td>
          <td><input type="text" formControlName="mother" /></td>
        </tr>
        <tr>
          <td>Father</td>
          <td><input type="text" formControlName="father" /></td>
        </tr>
      </ng-container>
      <tr>
        <td></td>
        <td><button (click)="pushHabitControls()">+</button></td>
      </tr>
      <ng-container formArrayName="habits">
        <tr
          *ngFor="
            let x of userRegistrationForm.get('habits').controls;
            let ind = index
          "
        >
          <td>Skill {{ ind + 1 }}</td>
          <td><input type="text" [formControlName]="ind" /></td>
          <td><button (click)="removeHabitFormControl(ind)">X</button></td>
        </tr>
      </ng-container>
      <tr>
        <td>Add Edu Details</td>
        <td><button (click)="addEducationDetailsFG()">+</button></td>
      </tr>
      <ng-container formArrayName="eduDetails">
        <tr
          [formGroupName]="i"
          *ngFor="
            let y of userRegistrationForm.get('eduDetails').controls;
            let i = index
          "
        >
          <td><input type="text" formControlName="course_name" /></td>
          <td><input type="text" formControlName="institution" /></td>
          <td><input type="text" formControlName="yearOfStarting" /></td>
          <td><input type="text" formControlName="yearOfE" /></td>
          <td><input type="text" formControlName="aggregate" /></td>
          <td><button>X</button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</form>
<hr />

{{ userRegistrationForm.value | json }}

<h1>{{ userRegistrationForm.value.name }}</h1>
